@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SUCCESS</title>
</head>

<body>
    <table cellpadding="2" cellspacing="2" border="0">
        <tr>
            <td>UserId</td>
            <td>@ViewBag.StudentDetails.UserId</td>
        </tr>

        <tr>
            <td>UserName</td>
            <td>@ViewBag.StudentDetails.UserName</td>
        </tr>

        <tr>
            <td>Password</td>
            <td>@ViewBag.StudentDetails.Password</td>
        </tr>

        <tr>
            <td>Confirm Password</td>
            <td>@ViewBag.StudentDetails.ConfirmPassword</td>
        </tr>

        <tr>
            <td>Email Address</td>
            <td>@ViewBag.StudentDetails.Email</td>
        </tr>

        <tr>
            <td>Age</td>
            <td>@ViewBag.StudentDetails.Age</td>
        </tr>

        <tr>
            <td>Mobile No</td>
            <td>@ViewBag.StudentDetails.Mobile</td>
        </tr>

        <tr>
            <td>Joining Date</td>
            <td>@ViewBag.StudentDetails.JoiningDate</td>
        </tr>

        <tr>
            <td>Website</td>
            <td>@ViewBag.StudentDetails.Website</td>
        </tr>


    </table>
</body>
</html>